{% extends 'base.html' %}
    
  {% block content %} 
    <h1>Login</h1>
    <div class="rotulo-formulario">
      <form action="{% url 'login' %}" method="post"> 
          {% csrf_token %}
          <input type="text" class="form-control" placeholder="Username..." name="username">
          <br><br>
          <input type="password" class="form-control" placeholder="Senha..." name="senha">
          <br><br>
          <input type="submit" class="btn btn-primary" value="Logar">
      </form>
    </div>



{% endblock %}